:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f8fafc;
  --bg-card: #ffffff;

  --text-primary: #0f172a;
  --text-secondary: #475569;

  --accent: #ea580c;
  --accent-hover: #f97316;
  --accent-soft: #fff7ed;
  --accent-border: #fdba74;
}

.dark {
  --bg-primary: #0f0f0f;
  --bg-secondary: #121316;
  --bg-card: rgba(249,115,22,.06);

  --text-primary: #f5f5f4;
  --text-secondary: #94a3b8;

  --accent: #f97316;
  --accent-hover: #fb923c;
  --accent-soft: rgba(249, 115, 22, 0.08);
  --accent-border: rgba(249, 115, 22, 0.35);
}
